Package: pi-fan-control-dbgsym
Source: pi-fan-control
Version: 1.0.0+202606031456
Auto-Built-Package: debug-symbols
Architecture: arm64
Maintainer: baboonwatch
Installed-Size: 28
Depends: pi-fan-control (= 1.0.0+202606031456)
Section: debug
Priority: optional
Description: debug symbols for pi-fan-control
Build-Ids: d6ab615cd9a8e8182b87db845b74b9fe4737cf9f
